---
import Header from '../components/Header.astro';

interface Props {
	title: string;
  description?: string;
}

const { title, description = "Smart Finances - Your Guide to Financial Freedom" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <!-- Add Open Graph meta tags for better social sharing -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/favicon.svg" /> {/* Replace with a proper image URL */}
    <meta property="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary_large_image" />

		<title>{title}</title>
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
    --background: #13151a;
    --text-color: #ffffff;
    --link-color: #4CAF50; /* Green */
    --link-hover-color: #45a049; /* Darker Green */
    --heading-color: #ffffff;
    --border-color: #ccc;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
    background-size: cover;
    color: var(--text-color);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
  }
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
</style>
